.modal-content {
  .modal-header {
    background-color: rgb(245, 245, 245);
  }
  .modal-body {

  }
  .modal-footer {
    border: 0px;

    .clearButton, .deleteButton {
      background-color: $brand-red-color;
      color: white;
    }

    .generateButton, .okButton {
      background-color: $brand-green-color;
      color: white;
    }
  }
}
