.AlternateSolutionWrapper{
  margin-top:10px;
  .alternate_container{
    .alternate_heading{
      text-align:right;
    }
    margin-top:5px;
    .fa-times{
      color: $brand-red-color;
    }
  }
}
