.mixQuizGeneratorContainer{

  .quizTitleInput {
    width:80%;
    margin:10px 0;
  }
  .mixQuizGenerator{
    .add_solution{
      margin:14px 0 0;
    }
  }
  .question_heading{
    text-align: right;
    line-height: 11px;
  }
  .question_wrapper{
    margin-top:10px;
    .question_line{
      line-height: 34px;
    }
  }
}
