.mainQuizSessionBlock{
    border:0px;
    padding-bottom: 100px;
    .mainHeading{
      color:black;
      align-content: center;
      border:0px;
    },
    .sessionWrapper {
      text-align: center;


      .cardSection:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          text-align: center;
          width: 40%;
          margin: 5% auto;
          padding: 30px;
          margin-bottom: 10px;
           border-radius: 5px 5px 0 0;
      }

      .sessionCard {
        margin:0 auto;
        margin-top:10px;
        margin-bottom: 10px;
        padding:10px;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        max-width: 700px;
        text-align: left;
        .rightSection{
          text-align: right;
        }
      }
      .sessionCard:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 7px;
      }
      .inProgress {
        background-color: #4CAF50;
        border: 1px solid #4CAF50;
        border-radius: 5px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        color:white;
        z-index: 1;
        padding:10px;
        padding-left:30px;
        padding-right:30px;
        position: fixed;
        text-align: center;
        right:0;
        left:50%;
        margin-left:-250px;
        bottom: 10px;
        max-width: 700px;
        text-align: left;
        @media (min-width: 1500px){
          margin-left:-225px;
        }
        .rightSection{
          text-align: right;
        }
      }
      .inProgress:hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 7px;
      }
    }
}
