.mainQuizViewerBlock {
  .submitPanel {
    text-align: center;
    padding:30px;
  }
  .negativeMarking {
    margin-top:0px;
    display:inline-block;
  }
  .negativeMarkingCheckBox {
    margin-top:0px;
    display:inline-block;
    margin-left:5px;
  }
}
