.topNabBarWrapper  {
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

.BrandTitleWrapper{
  .logo {
    color:green;
    font-size: 23px;
    padding-top:2px;
  }
  display: inline;
  .userTypeIcon{
    .glyphicon-education{
      top:0;
      color:white;
      width: 40px;
      height: 40px;
    }
  }
}


  @media (max-width: 767px) {
    position: relative;
  }
}
