.matchQuizContainer {
  .matchRightElement, .matchLeftElement {
    height: 50px;
    line-height: 50px;
  }

  .matchLeftElement {
    .leftText {
      font-weight: bold;
      font-size: 20px;
    }
  }

  .matchRightElement {
    select {
      width: 100%;
    }
  }
}
