.matchQuizContainer .rightColumn, .matchQuizContainer .leftColumn {
  width: 50%;
  float: left;
}

.matchRightElement, .matchLeftElement {
  height: 60px;
  line-height: 60px;
}

.matchLeftElement .leftText {
  font-weight: bold;
  font-size: 20px;
}

.matchRightElement select {
  width: 100%;
}
