.loginPage {
  .welcomeTitle {
    text-align: center;
    font-size: 4em;
  }
  .logoLogin{
    img {
      position:absolute;
      top:100px;
      left:50%;
      transform: translateX(-200px);
      width: 400px;
      height: auto;
    }
  }

  .invalidHeader {
    text-align: center;
    font-size: 1.2em;
    color: #E62020;
  }
}
