.loginPage {
  .loginWrapper {
    text-align: left;
    width: 33.3%;
    height: 300px;
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;

    .loginLabel {
      padding: 8px 4px 4px 4px;
    }
  }
}
