.matchQuizGenerator {
  .leftColumn, .rightColumn {
    width: 50%;
    float: left;
  }

  .quizItem {
    display: inline-flex;
    margin: 10px auto;

    .itemIndex {
      line-height: 46px;
    }

    .itemTexarea {
      resize: none;
      margin: 0 10px;
    }
  }

}
