
.matchQuizGenerator .leftColumn, .matchQuizGenerator .rightColumn {
  width: 50%;
  float: left;
}

.matchQuizGenerator .itemTexarea {
  resize: none;
  margin: 0 10px;
}

.matchQuizGenerator .quizItem {
  display: inline-flex;
  margin: 10px auto;
}

.matchQuizGenerator .itemIndex {
  width: 50px;
  line-height: 50px;
  margin-left: -50px;
}

.matchQuizGenerator .quizTitleInput {
  width: 80%;
}

.matchQuizGenerator .addMoreItemsBtn {
  margin-right: 60px;
}

/* TODO: Replace this */
.defaultOption {
  /*margin-left: 222px;*/
}
