.questionBlock {
  text-align: center;
  .fa-times{
    color: $brand-red-color;
  }
  .choiceInput{
    text-align: right;
    line-height: 40px;
  }
  .questionInput{
    text-align: right;
  }
  .choiceText{
    margin: 5px 0;
  }

  .questionPanel{
    .choicesListMultipleChoice{
      text-align: left;
    }
  }

}
.choicesListMultipleChoice{
  text-align: left;
  display: inline-block;
  .singleMultipleChoice{
    .inputChoice{
      text-align: right;
      margin:5px 0;
      padding-right:100px;
    }
    .choiceName{
      text-align: left;
      padding-left:5px;

    }
  }

}
