.questionBlock {
  text-align: center;

  .questionPanel{
    .choicesListMultipleChoice{
      text-align: left;
    }
  }

}
.choicesListMultipleChoice{
  text-align: left;
  .singleMultipleChoice{
    display: inline-block;
    .inputChoice{
      text-align: right;
    }
    .choiceName{
      text-align: left;
    }
  }

}
