$brand-green-color: #2ed146;
$brand-red-color: #d10c0f;

html,body {
  font-family: 'Roboto', sans-serif;
}


/* Fix for Modal Error  */
.modal-open {
  overflow: auto !important;
  padding-right: 0px !important;
}

.appContent {
  padding-top: 51px;

  .mm-popup__box {
    transform: translateX(+100px);
  }


  @media (max-width: 767px) {
    padding-top: 0;
  }
}

ul {
  list-style: none;
}
.error_message{
  color:$brand-red-color;
}
.cardSection{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 75%;
  margin: 5% auto;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
  .question_title {
    margin-bottom:30px;
  }
  .general_points_container{
    margin-top:10px;
    .points_container{
      .points_wrapper{
        display: inline-block;
        #pointIn{
          margin-left:10px;
          width:150px;
        }
      }
    }
  }
  .solution_container{
    display: inline-block;
    .alternative_solutions {
      padding-left: 0;
      padding:0;
      .solution{
        margin-bottom:10px;
      }
    }
    .solution{
      margin-bottom:10px;
    }
  }
  .delete_button{
    button{
      margin-top:10px;
    }
  }
}
.cardSection:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.clozeQuizContainer {
  text-align: left;
}

.correctAnswerWrapper {
  box-shadow: 0 8px 16px 0 $brand-green-color;
  transition: 0.3s;
}
.correctAnswerWrapper:hover {
  box-shadow: 0 8px 16px 0 $brand-green-color;
}

.wrongAnswerWrapper {
  box-shadow: 0 8px 16px 0 $brand-red-color;
  transition: 0.3s;
}
.wrongAnswerWrapper:hover {
  box-shadow: 0 8px 16px 0 $brand-red-color;
}
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: 20px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  border: 2px solid $brand-green-color;
  -webkit-border-radius: 40px;
  border-radius: 5px;
  font-size: 15px;
  color: $brand-green-color;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: white;
  background: $brand-green-color;
  border: 2px solid $brand-green-color;
}

.enjoy-css:active,.enjoy-css:focus {
  border: 2px solid #018e11 !important;
  background-color: #018e11 !important;
  color:white !important;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  outline: none;
}
.red_button {
  background-color: white;
  color: #d10c0f;
  border: 2px #d10c0f solid;
}
.red_button:hover{
  background-color: #d10c0f;
  color:white;
  border:2px #d10c0f solid;
}
.red_button:active,.red_button:focus {
  color:white !important;
  background-color:#910205 !important;
  outline:0 !important;
  border: 2px #910205 solid !important;
}
.red_button:focus {outline:0 !important;}
button:focus {outline:0 !important;}
button:active{outline:0 !important;};

.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
