$brand-green-color: #0e8c16;
$brand-red-color: #b22121;

html {
  font: normal 16px/1.2 "Open Sans", sans-serif !important;
  color: #646666;
}

.appContent {
  padding-top: 51px;

  @media (max-width: 767px) {
    padding-top: 0;
  }
}

ul {
  list-style: none;
}

.matchQuizContainer,
.mixQuizContainer,
.multipleChoiceContainer,
.clozeQuizContainer {
  text-align: center;
  display: inline-block;
  width: 40%;
  margin: 5% auto;
  padding: 30px;
  border: 3px solid #000000;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #888888;

  @media (max-width: 900px) {
    width: 60%;
  }
}

.clozeQuizContainer {
  text-align: left;
}

.correctAnswerWrapper {
  border-color: #0e8c16;
  box-shadow: 5px 5px 5px #0e8c16;
}

.wrongAnswerWrapper {
  border-color: #b22121;
  box-shadow: 5px 5px 5px #b22121;
}

.submitButton {
  margin:10px;
  width: 120px;
  height: 50px;
  background: #becbd6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
  background: -moz-linear-gradient(#becbd6, #8da5b7);
  background: linear-gradient(#becbd6, #8da5b7);
  border: solid 1px #a1aeb7;
  border-bottom: solid 3px #62727e;
  box-shadow: inset 0 0 0 1px #d8e0e6;
  color: #515f6a;
  text-shadow: 0 1px 0 #c4d0da;
}

.submitButton:hover {
  margin:10px;
  background: #97adbd;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#97adbd), to(#a8bac8));
  background: -moz-linear-gradient(#97adbd, #a8bac8);
  background: linear-gradient(#97adbd, #a8bac8);
  border: solid 1px #96a2ab;
  border-bottom: solid 3px #62727e;
  box-shadow: inset 0 0 0 1px #c0ced7;
}

.submitButton:active {
  background: #8fa6b6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8fa6b6), to(#8aa0b0));
  background: -moz-linear-gradient(#8fa6b6, #8aa0b0);
  background: linear-gradient(#8fa6b6, #8aa0b0);
  border: solid 1px #606f7a;
  box-shadow: inset 0 10px 15px 0 #7e92a1;
}

.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: 20px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid #43B05C;
  -webkit-border-radius: 40px;
  border-radius: 5px;
  font-size: 15px;
  color: #43B05C;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: rgba(255,255,255,1);
  background: #43B05C;
}

.enjoy-css:active {
  border: 2px solid #43B05C;
  background: #43B05C;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  outline: none;
}

.small-margin-top {
  margin-top: 10px;
}

.medium-margin-top {
  margin-top: 10px;
}

.large-margin-top {
  margin-top: 10px;
}