$brand-green-color: #0e8c16;
$brand-red-color: #b22121;

html,body {
  font-family: Open Sans, sans-serif !important;
}

.modal-open {
  .topNabBarWrapper {
    .navbar-header {
      margin-left: -7.5px;
    }
    .navbar-collapse {
      margin-right: 7.5px;
      .navbar-nav{
        float:none;
        li{
          width: 100%;
          a{
            width:100%;
            text-decoration: none;
            .titleButton {
              padding: 0;
              width: 100%;
            }
          }
          a:hover{
                text-decoration: none;
          }
        }
      }
    }
  }
}

.appContent {
  padding-top: 51px;

  .mm-popup__box {
    transform: translateX(+100px);
  }


  @media (max-width: 767px) {
    padding-top: 0;
  }
}

ul {
  list-style: none;
}
.error_message{
  color:red;
}
.cardSection{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  width: 70%;
  margin: 5% auto;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #FAFAFA;
}
.cardSection:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-align: center;
    margin: 5% auto;
    padding: 30px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}

.clozeQuizContainer {
  text-align: left;
}

.correctAnswerWrapper {
  box-shadow: 0 8px 16px 0 #0e8c16;
  transition: 0.3s;
}
.correctAnswerWrapper:hover {
  box-shadow: 0 8px 16px 0 #0e8c16;
}

.wrongAnswerWrapper {
  box-shadow: 0 8px 16px 0 #b22121;
  transition: 0.3s;
}
.wrongAnswerWrapper:hover {
  box-shadow: 0 8px 16px 0 #b22121;
}

.submitButton {
  margin:10px;
  width: 120px;
  height: 50px;
  background: #becbd6;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
  background: -moz-linear-gradient(#becbd6, #8da5b7);
  background: linear-gradient(#becbd6, #8da5b7);
  border: solid 1px #a1aeb7;
  border-bottom: solid 3px #62727e;
  box-shadow: inset 0 0 0 1px #d8e0e6;
  color: #515f6a;
  text-shadow: 0 1px 0 #c4d0da;
}

.squaredThree {
  width: 20px;
  position: relative;
  margin: 20px auto;
  label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(top, #222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
    &:after {
      content: '';
      width: 9px;
      height: 5px;
      position: absolute;
      top: 4px;
      left: 4px;
      border: 3px solid #fcfff4;
      border-top: none;
      border-right: none;
      background: transparent;
      opacity: 0;
      transform: rotate(-45deg);
    }
    &:hover::after {
      opacity: 0.3;
    }
  }
  input[type=checkbox] {
    visibility: hidden;
    &:checked + label:after {
      opacity: 1;
    }
  }
}
.enjoy-css {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: 20px;
  cursor: pointer;
  padding: 5px;
  margin: 10px;
  border: 2px solid #43B05C;
  -webkit-border-radius: 40px;
  border-radius: 5px;
  font-size: 15px;
  color: #43B05C;
  text-align: center;
  text-overflow: clip;
  letter-spacing: 1px;
  background: rgba(0,0,0,0);
  -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.enjoy-css:hover {
  color: rgba(255,255,255,1);
  background: #43B05C;
}

.enjoy-css:active {
  border: 2px solid #43B05C;
  background: #43B05C;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  outline: none;
}
