.matchQuizContainer, .mixQuizContainer, .multipleChoiceContainer {
  text-align: center;
  width: 40%;
  min-height: 250px;
  margin: 5% auto;
  padding: 30px;
  border: 3px solid #000000;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.correctAnswerWrapper {
  border-color: #0e8c16;
  box-shadow: 5px 5px 5px #0e8c16;
}

.wrongAnswerWrapper {
  border-color: #b22121;
  box-shadow: 5px 5px 5px #b22121;
}

.navbar {
  border-radius: 0;
}


@media (max-width: 900px) {
  .matchQuizContainer, .mixQuizContainer, .multipleChoiceContainer{
    width: 60%;
  }
}
