.myQuizzesPageWrapper {
  text-align: center;
  width: 100%;

  .contentWrapper {
    overflow: hidden;
    margin-left: 200px;

    @media (max-width: 767px) {
      margin-left: 0;
    }
  }

  @media (max-width: 767px) {
    display: initial;
  }

  .pie-chart-container {
    display: block;
    margin: 0 26% 0 24%;
  }

  .line-chart-container {
    display: block;
    margin: 0 26% 0 24%;
  }

}
