.myQuizzesPageWrapper {
  text-align: center;
  width: 100%;

  .contentWrapper {
    overflow: hidden;
    margin-left: 200px;

    @media (max-width: 767px) {
      margin-left: 0;
    }
    @media(min-width: 1500px){
      margin-left: 250px;
    }
  }

  @media (max-width: 767px) {
    display: initial;
  }

  .pie-chart-container {
    position: absolute;
    display: block;
    left: 50%;
    transform:translateX(calc(-50% + 100px));
  }
  .quizList {
    position:relative;
    margin: 0 auto;
    .quizListItem{
      width: 200px;
      margin:2px;
      height:50px;
    }
  }

  .line-chart-container {
    position: absolute;
    top:600px;
    display: block;
    margin: 50px;
  }

}
