.crossQuizContainer{
  text-align: center;
  width: 40%;
  min-height: 250px;
  margin: 5% auto;
  padding: 30px;
  border: 3px solid #000000;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.crossBoardWrapper {
  display: inline-block;
  border: 3px solid #000000;
  box-shadow: 5px 5px 5px #888888;
}
.blackSquare {
  background-color: black;
}

td {

  border-color: black !important;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 160px;
}

tr {
  border-bottom:3px solid black !important;
}

tr:last-child {
  border-bottom: 0px !important;
}

td {
  padding: 5px;
  border-left: 3px solid black !important;
}

td:first-child {
  border-left: 0px !important;
}

.rightColumn, .leftColumn {
  width: 50%;
  float: left;
  height: 350px;
}
