.classSearchPanelWrapper{
   text-align: center;

  .searchBarItem {
    margin-top:20px;
    width:300px;
    background-color:#ffffff;
    color: black;
    border:0px;
    border-bottom:1px solid black;
    outline: none;
    font-size: 18px;
    padding-left: 70px;
    text-align: left;
    margin-bottom:50px;
  }

  .classSearchResultsPanel{


    .searchSpinner{
      text-align: center;
      width: 180px;
      margin: 5px 0;
    }
    .classStudentBtn {
      text-align: center;
      width: 180px;
      margin: 5px 0;

      .glyphicon {
        float: right;
      }

      .glyphicon-remove {
        color: $brand-red-color;
      }

      .glyphicon-plus {
        color: $brand-green-color;
      }
    }

  }

  .pendingClasses{
    display:inline-block;
    width: 50%;
    margin-top:100px;
    @media (max-width: 767px) {
      width: 100%;
    }
    .inviteButton{
      margin-left:20px;
      margin-top: 5px;

    }

    .pendingButtons {
      text-align: center;
      width: auto;
      margin-top: 1px;
      padding: 5px;
      .fa-sign-in {
        font-size: 20px
      }
      .className{
        text-align: right;
        max-width: 300px;

      }
      .classInfo{
        padding-top:8px;
        text-align: left;
          max-width: 300px;
      }
      li {
        padding-top:10px;
      }

      .glyphicon {
        float: right;
      }

      .glyphicon-remove {
        color: $brand-red-color;
      }

      .glyphicon-plus {
        color: $brand-green-color;
      }
    }
  }
}
