.groupPanelWrapper {
  .studentsPanelWrapper {
    .studentsList {
      min-height: 30vh;
      .studentSearchSpinner{
        width: 30px;
        height: 30px;
      }
      .studentManagerWrapper {
        .classStudentBtn {
          min-width: 300px;
          margin: 5px 0;

          .glyphicon {
            float: right;
          }

          .glyphicon-remove {
            color: $brand-red-color;
          }

          .glyphicon-plus {
            color: $brand-green-color;
          }
        }
      }
    }
  }
}
