.groupPanelWrapper {

  .quizPanelWrapper {
    .quizzesList {

      min-height: 50vh;

      li {
        list-style-type: none;
      }
      .searchBarItem {
        margin-top:20px;
        width:300px;
        background-color:#ffffff;
        color: black;
        border:0px;
        border-bottom:1px solid black;
        outline: none;
        font-size: 18px;
        padding-left: 70px;
        text-align: left;
        margin-bottom:50px;
      }
      .searchBarItem:focus {
        background-color: #080808;
      }
      .expandCollapseButtonsPanel{
        text-align: center;
        float:center;
        margin-top:20px;
        .leftButton{
          text-align: right;

        }
        .rightButton {
          text-align: left;
        }
      }
      .quizManagerWrapper {

        .classQuizBtn {
          width: 180px;
          margin: 5px 0;

          .glyphicon {
            float: right;
          }

          .glyphicon-remove {
            color: $brand-red-color;
          }

          .glyphicon-plus {
            color: $brand-green-color;
          }
        }
      }
    }
  }
}
