.studentsPanelWrapper{

  .requestStudentGroup{
    margin:10px;
    .requestStudentName{
      width: 100%;
    }
    .respondButtons{
      text-align: left;
    }
  }


  .tabsWrapper {
    float:center;
  }
  .nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1;
  }
  .nav-tabs {
    text-align:center;
    color:red;
  }
  .nav-tabs > li > a{
    color:black;
  }
  .nav-tabs > li > a:hover{
    color:#626572;
    background-color: rgba(255,255,255,1);
  }
  li {
    list-style-type: none;
  }
  .searchBarItem {
    margin-top:20px;
    width:300px;
    background-color:#ffffff;
    color: black;
    border:0px;
    border-bottom:1px solid black;
    outline: none;
    font-size: 18px;
    padding-left: 70px;
    text-align: left;
    margin-bottom:50px;
  }
  .searchBarItem:focus {
    background-color: #ffffff;
  }
  .main_container{
    margin:25px 0;
    padding-left:0;
    .form_container{
      .header_title{
        margin-bottom:20px;
      }
      .inside{
        text-align:left;
        display:inline-block;
        .input_container{
          margin-bottom:30px;
          input{
            display:initial;
          }
          .student_input{
            outline:none;
            border:none;
            border-bottom:2px solid black;
            padding:0 10px;
            margin-right:10px;

          }
        }
      }
      .confirmation_message{
        color:green;
      }
      .emails_list{
        overflow: auto;
        margin-bottom: 20px;
        .email{
          margin: 3px 0;
          div{
            padding: 4px 20px 6px;
            border:1px solid grey;
            border-radius: 4px;
            display:inline-block;
          }

        }
      }
      .invite_message{
        margin-top:30px;
        text-align: left;
        color:green;
      }
      .invite_students{
        margin-bottom:20px;
      }
      .invited_containerCSV{
        background-color: #f2f3f4;
        width: 80%;
        margin: auto;
        border: 1px solid grey;
        border-radius: 30px;
        margin-bottom: 30px;
        .invited_inside{
          .invited_margin{
            display: inline-block;
          }
          min-height: 100px;
          max-height:300px;
          overflow-y: scroll;
          margin:9px;
          .invited{
            text-align: left;
            display:inline-block;
            float:left;
            clear:both;
            margin:2px 0;
            .ok_sign{
              color:green;
              top: 5px;
              right:10px;
              font-size:20px;
            }
            .env_sign{
              color:darkorange;
              top: 5px;
              right:10px;
              font-size:20px;
            }
          }
        }
      }
    }
    .invited_container{
      background-color: #f2f3f4;
      width: 80%;
      margin: auto;
      border: 1px solid grey;
      border-radius: 30px;
      margin-bottom: 30px;
      .invited_inside{
        .invited_margin{
          margin-left:40%;
        }
        height: 300px;
        overflow-y: scroll;
        margin:9px;
        .invited{
          text-align: left;
          display:inline-block;
          float:left;
          clear:both;
          margin:2px 0;
        }
      }
    }
  }
}
