.createMatchQuizContainer{
  text-align: center;
  width: 50%;
  min-height: 400px;
  margin: 5% auto;
  padding: 30px;
  border: 3px solid #000000;
  margin-bottom: 10px;
  box-shadow: 5px 5px 5px #888888;
}

.createMatchQuizContainer .leftColumn, .createMatchQuizContainer .rightColumn {
  width: 50%;
  float: left;
}

.createMatchQuizContainer .itemTexarea {
  resize: none;
  margin: 0 10px;
}

.createMatchQuizContainer .quizItem {
  display: inline-flex;
  margin: 10px auto;
}

.createMatchQuizContainer .itemIndex {
  width: 50px;
  line-height: 50px;
  margin-left: -50px;
}

/* TODO: Replace this */
.defaultOption {
  /*margin-left: 222px;*/
}
