.sideBarWrapper {
  .navbar{
    border:none;
    border-top:1px solid black;
  }

  .mainNavContainer {


    border-radius: 0;
    position: fixed;
    width: 200px;
    height: 100%;
    @media (max-width: 767px) {
      position: relative;
      width: 100%;
    }
    @media (min-width: 1500px) {
      width:250px;
    }

    .container {
      width: 200px;
      padding: 0px;
      .navbar-header{
        width:100%;
      }
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 1500px) {
        width:100%;
      }
      .searchBarItemSideBar {
        width:200px;
        background-color:#222222;
        color: white;
        border:0px;
        border-bottom:1px solid white;
        outline: none;
        font-size: 18px;
        padding-left: 30px;
        text-align: left;
        padding-top:5px;
        padding-bottom: 5px;
        @media (min-width: 1500px) {
          width:249px;
          padding-left: 52px;
        }
      }
      .searchBarItemSideBar:focus {
        background-color: #080808;
      }
      .panel-group {
        width: 200px;
        margin-top:20px;
        border-radius:0px;
        background-color: #222222;
        cursor: pointer;
        @media (min-width: 1500px) {
          width:249px;
        }
        .panel-collapse{
          .panel-body{
            padding-left:0;
          }
        }
      }
      .panel-heading {
        border-radius:0px;
        background-color: #222222;
        color:white;
        border:0px;
        background-color: #333333;
        .panel-title{
          a{
            text-decoration: none;
            padding: 10px 19px;
          }
        }
      }
      .panel-default {
        border-radius:0px;
        background-color: #222222;
        border: 0;
        width:100%;
        padding:0px;
      }

    }
    .titleButton{
      background-color: #222222;
      border:0px;
      margin-left:15px;
      color:grey;
      font-size: 16px;
      text-align: center;
      display: inline;
      width:150px;
      .createText {
        padding-top: 5px;
      }
      .plusIconWrapper {
        width:32px;
        height:32px;
        margin-right:5px;
        .plusIcon{
          width: 30px;
          height: 30px;
          margin-right:3px;
        }
      }
    }
    .mainButton {
      background-color: #222222;
      border:0px;
      font-size: 18px;
      width:100%;
      color:grey;
      text-align: center;
      display: inline;
      margin-left: -1px;
      border-radius: 0;
      outline:none;
    }
    .mainButton:hover {
    background-color: #222222;
    border:0px;
    font-size: 18px;
    color:white;
    text-align: center;
    display: inline;
    background-color: #080808;
  }
    .titleButton:hover{
      background-color: #222222;
      border:0px;
      font-size: 16px;
      margin-left:15px;
      color:white;
      text-align: center;
      display: inline;
      width:150px;
      .createText {
        padding-top: 5px;
      }
      .plusIconWrapper {
        width:32px;
        height:32px;
        margin-right:5px;
        .plusIcon{
          width: 30px;
          height: 30px;
          margin-right:3px;
        }
      }
    }
    .sideBarButton{
      color:rgb(230,230,230);
      border:0;
      width: 200px;
      padding: 10px 0;
      background-color: #222222;
      outline: none;
      border-radius:0;
      @media(min-width:1500px){
        width: 250px;
      }
    }
    .sideBarButton:hover{
      color:white;
      background-color: #080808;
    }

    .sideBarLeft {
      padding-left:0;
      padding-right:0;
      width: 200px;
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 1500px) {
        width:100%;
      }
      .search_icon{
        position: absolute;
        color: white;
        top: 79px;
        right: 5px;
        pointer-events: none;
      }
      .search_icon2{
        position: absolute;
        color: white;
        top: 118px;
        right: 5px;
        pointer-events: none;
      }
    }
  }
}
