.sideBarWrapper {

  .mainNavContainer {


    border-radius: 0;
    position: fixed;
    width: 200px;
    height: 100%;
    @media (max-width: 767px) {
      position: relative;
      width: 100%;
    }

    .container {
      width: 200px;
      padding: 0px;
      @media (max-width: 767px) {
        width: 100%;
      }
      .searchBarItem {
        margin-top:20px;
        width:199px;
        margin-right:15px;
        background-color:#222222;
        color: white;
        border:0px;
        border-bottom:1px solid white;
        outline: none;
        font-size: 18px;
        padding-left: 2vw;

      }
      .panel-group {
        width: 199px;
        margin-top:20px;
        border-radius:0px;
        background-color: #222222;

      }
      .panel-heading {
        border-radius:0px;
        background-color: #222222;
        color:white;
        border:0px;
      }
      .panel-default {
        border-radius:0px;
        background-color: #222222;
        border: 0;
        width:100%;
        padding:0px;
      }

    }
    .titleButton{
      background-color: #222222;
      border:0px;
      margin-left:30px;
      color:grey;
      text-align: center;
    }
    .titleButton:hover{
      background-color: #222222;
      border:0px;
      margin-left:30px;
      color:white;
      text-align: center;
    }
    .sideBarButton{
      color:grey;
      border:0;
      width: 130px;
      margin-top:3px;
      background-color: #222222;
      outline: none;
    }
    .sideBarButton:hover{
      color:white;
      border:0;
      width: 130px;
      margin-top:3px;
      background-color: #222222;
    }

    .sideBarLeft {
      padding-left:0;
      width: 200px;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
  }
}
