.sideBarWrapper {
  .mainNavContainer {
    .createClassBtn {
      background-color: $brand-green-color;
      color: white;
    }

  }

  .classesNav {
    width: 200px;
    a{
      padding: 0px;
      margin-top:3px;
    }
  }
}
