.sideBarWrapper {
  .mainNavContainer {
    .createClassBtn {
      background-color: $brand-green-color;
      color: white;
    }

  }

  .classesNav {
    width: 200px;
    margin-left: -1px;
    a{
      padding: 0px;
      margin-top:3px;
    }
    @media (min-width: 1500px) {
      width:250px;
    }
  }
}
